@use 'sass:map';
@import '~bootstrap/scss/bootstrap-utilities';
@import './_shadows';

.cellWrapper {
  height: fit-content;
  box-shadow: none;
  transition: box-shadow .15s;

  &:hover,
  &.isEdited {
    box-shadow: $worksheet-shadow-sm;
  }
  
  &.isEdited:focus-within {
    box-shadow: $worksheet-shadow-lg;
  }
}

.lockIcon {
  position: absolute;
  padding: map.get($spacers, 1);
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(calc(-50% - 1rem));
}

.addToolbarContainer {
  height: map.get($spacers, 3) * 1.25;
}

.addToolbar {
  margin-left: auto;
  margin-right: auto;
  margin-top: -5.5px;
  z-index: $zindex-dropdown - 20;
}

.editToolbar {
  position: absolute;
  right: map.get($spacers, 3);
  top: - map.get($spacers, 3);
  z-index: $zindex-dropdown - 20;
}

.appCell .appOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: $zindex-dropdown - 30;
  // background-color: rgba($body-bg, 0.35);
}

.appCell :global(.eapp) {
  position: relative;
  padding: map.get($spacers, 3);

  & .appContainer {
    pointer-events: none;
  }

  .isEdited & .appContainer {
    pointer-events: initial;
  }

  &.structureExplorerCell {
    padding: map.get($spacers, 3) 0 0;
  }

  &.tableauEditorCell {
    padding: map.get($spacers, 3) 0;
  }

  &.tableauEditorCell > * {
    overflow-x: auto;
    padding: 0 map.get($spacers, 3);
  }

  &.tableauEditorCell::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: map.get($spacers, 3);
    background-image: linear-gradient(90deg, $body-bg, rgba($body-bg, 0));
    z-index: 100;
  }

  &.tableauEditorCell::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: map.get($spacers, 3);
    background-image: linear-gradient(270deg, $body-bg, rgba($body-bg, 0));
    z-index: 100;
  }

}
