@use 'sass:map';
@import '~bootstrap/scss/bootstrap-utilities';
@import './_shadows';

.cellRow {
  --bs-gutter-x: 0.5rem;
  row-gap: 0.5rem; /* in case comments are wrapped to the next row */
}

.cellWrapper {
  height: fit-content;
  box-shadow: none;
  transition: box-shadow .15s;

  &:hover,
  &.isEdited {
    box-shadow: $worksheet-shadow-sm;
  }
  
  &.isEdited:focus-within {
    box-shadow: $worksheet-shadow-lg;
  }
}

.lockIcon {
  position: absolute;
  padding: 0.25rem;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(calc(-50% - 1rem));
}

.addToolbar {
  margin-left: auto;
  margin-right: auto;
  margin-top: -5px;
  z-index: $zindex-dropdown - 20;
}

.wrapEditToolbar {
  position: sticky;
  z-index: 1000;
  top: 35px;
}

.editToolbar {
  position: absolute;
  left: 97%;
  transform: translateY(-35px) translateX(-100%);
  z-index: $zindex-dropdown - 20;
}
