.cellWrapper {
  margin-bottom: 0;
  padding: 1rem;
  width: 100%;
  height: fit-content;
  /*display: inline-block;*/
  /*vertical-align: top;*/
  box-shadow: none;
  transition: box-shadow 300ms;
}

.cellWrapper:hover {
  -webkit-box-shadow: 0px 4px 10px 5px rgba(0,0,0,0.3); 
  box-shadow: 0px 4px 10px 5px rgba(0,0,0,0.3);
}

.addToolbar {
  margin-left: auto;
  margin-right: auto;
  margin-top: -5px;
  z-index: 1100;
}

.editToolbar {
  position: absolute;
  left: 97%;
  transform: translateY(-30px) translateX(-100%);
}